/* estilos del html Index */
.index {
  background-color: #D6EAEB;
  color: #218688;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  h1 {
    display: flex;
    justify-content: center;
    font-size: 55px; }
  .titulo1 {
    display: flex;
    justify-content: center;
    font-size: 22px; }
  footer {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly; } }

/* estilos del html de Propuestas */
.Propuestas {
  background-color: #D6EAEB;
  color: #218688;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  .Propuestas h1 {
    display: flex;
    justify-content: center; }
  .Propuestas footer {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly; }
  @media only screen and (max-width: 470px) {
    .Propuestas {
      /* grid propuestas */ }
      .Propuestas .grid-item-container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        row-gap: 10px;
        column-gap: 10px;
        padding: 5px; } }
  @media only screen and (min-width: 471px) {
    .Propuestas {
      /* grid propuestas */ }
      .Propuestas .grid-item-container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
        column-gap: 10px;
        padding: 5px; } }

/* estilos del html de somos */
.Somos {
  background-color: #D6EAEB;
  color: #218688;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  .Somos main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .Somos h1 {
    display: flex;
    justify-content: center; }
  .Somos footer {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly; }

/* estilos del html de contacto */
.Contacto {
  background-color: #D6EAEB;
  color: #218688;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  .Contacto main ul li {
    list-style-type: none;
    display: grid;
    justify-content: center; }
    .Contacto main ul li p {
      display: flex;
      justify-content: center; }
  .Contacto footer {
    display: flex;
    margin-top: 50px;
    padding-top: 50px;
    justify-content: space-evenly; }

/* estilos del html de fotos */
.Fotos {
  background-color: #D6EAEB;
  color: #218688;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* grid galeria de fotos */ }
  .Fotos header h1 {
    display: flex;
    justify-content: center; }
  .Fotos footer {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly; }
  .Fotos .grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    padding: 5px; }
  .Fotos .grid-img img {
    width: 100%;
    height: 100%; }

/* whatsapp position */
.whatsapp-icon {
  position: fixed;
  right: 0;
  bottom: 0; }
