
.index  {
    background-color:#D6EAEB;
    color:#218688;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Propuestas {
    background-color:#D6EAEB;
    color:#218688;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Somos {
    background-color:#D6EAEB;
    color:#218688;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Contacto {
    background-color:#D6EAEB;
    color:#218688;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Fotos {
    background-color:#D6EAEB;
    color:#218688;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  
  
/* todos los footer de los 5 html */
footer {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}

.Somos main  {
    display: flex;
    justify-content: center;
}


 .index h1 {
        display: flex;
        justify-content: center;        
        background-color:#D6EAEB;
        color:#218688;
        font-size: 55px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 
.Somos h1  {
    display: flex;
    justify-content: center;
}

.Contacto main ul li p, img  {
     display: flex;
     justify-content: center;
}

.Fotos header h1 {
    display: flex;
    justify-content: center
}

.Somos main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 

.Propuestas h1 {
    display: flex;
    justify-content: center
}

/* img de galeria*/
.fotos-main {
    display: grid;
    height: 70vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 25%);
    gap: 2rem;
    margin:3rem 2rem;
} 

.fotos-main div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* estilos de lista en contacto */
.Contacto main ul li {
list-style-type: none;
display: grid;
justify-content: center;
}

/* whatsapp position */
.whatsapp-icon {
    position: fixed;
    right: 0;
    bottom: 0;
}
   
/* img de index*/
.index main {
    display: grid;
    height: 70vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 100%);
    gap: 2rem;
    margin:3rem 2rem;
}
   
.index main div img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

/* img de galeria*/
.fotos-main {
    display: grid;
    height: 70vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 60%);
    gap: 2rem;
    margin:3rem 2rem;
} 

.fotos-main div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}